services:
  psql:
    image: postgres:16
    container_name: psql
    hostname: psql
    restart: unless-stopped
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
